
.title {
       margin: 25px 0;
    font-weight: 500;
    color: #2cc767;
}
.status.addi
{
    margin: 0 2px;
      font-weight: bold;
}
.icon.primary.d-flex img {
    height: 70px;
    width: 5;
    margin: 17px;
}
.cursor{
  cursor: pointer;
}