<div class="row">
  <div class="col-md-24 col-lg-12">
    <nb-card size="big">
      <nb-tabset>
        <nb-tab tabTitle="Token details">
          <div class="row">
            <div class="col-md-12">
              <div class="tabcntcls" style=" -webkit-transition: all 1s ease;transition: all 1s ease;padding: 25px 25px 25px 25px;">
                <div class="row">
                  <div class="col-md-7" style="display: inline-flex;padding-left: 0px;">
                    <span style="line-height: 58px;margin-top:-11px;">Display : </span>
                    <select (change)="changeRowLimits_news($event)" style="width: 8%;background: transparent;height: 31px;padding:2px;margin-left: 5px;margin-top:0px;">
                    <option *ngFor="let limit of rowLimits_news" [value]="limit.value">{{limit.key}}</option>
                    </select>
                    <div class="input-group-btn" style="margin-left: 10px;">
                      <button class="btn btn-primary" style="cursor:pointer;background-color:#30CE6A;padding:5px;height:34px;" type="submit" (click)="resetnewslist()">
                      <i class="fas fa-sync" style="background-color:#30CE6A;color:white;"></i>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-4" style="display: inline-flex;position: relative;left: 23px;">
                    <div class="input-group">
                      <input type="text" [(ngModel)]="defsearch_news" class="form-control" placeholder="Search" id="txtSearch" (keyup.enter)="updateFilter_news()"/>
                      <div class="input-group-btn">
                        <button class="btn btn-primary" style="cursor:pointer;background-color:#30CE6A;padding:18px;height:34px;" type="submit" (click)="updateFilter_news()">
                        <span class="fa fa-search"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-1">
                    <div class="add_addre">
                      <button style="cursor:pointer;border-color:#30CE6A;background-color: white;color:#30CE6A;margin-top:20;"class="btn btn-icon-icon btn-info mb-1 mr-1 cursorcls" (click)="addnewsClick();opennewsmodel(addnewscontent)" ngbTooltip="Addtitles"><span class="fa fa-plus"></span>
                      </button>
                    </div>
                  </div>
                </div>
                <br>
                <div class="table-responsive tab_top">
                  <ngx-datatable #newstable class="bootstrap table table-bordered table-striped mb-0 material content_manage_tab"
                  [columnMode]="'force'"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [rowHeight]="'auto'" [(limit)]="limit_banner" [rows]='bannerblocktemp' [externalPaging]="true"
                  [count]="page_banner.totalElements"
                  [offset]="page_banner.pageNumber"
                  [limit]="page_banner.size"
                  (page)='setPage_banner($event)' [externalSorting]="true" (sort)="onSort_banner($event)" [loadingIndicator]="loading_banner">
                  <ngx-datatable-column name="S.No" [resizeable]="false" style="font:bold;">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                      {{(page_banner.pageNumber*page.size)+(rowIndex + 1)}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Token name" prop="name" [resizeable]="false" style="white-space: normal;overflow-wrap: break-word;">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      {{value}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Contact address" prop="conaddress" [resizeable]="false" style="white-space: normal;overflow-wrap: break-word;">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      {{value}}
                    </ng-template>
                  </ngx-datatable-column>                  
                  <ngx-datatable-column name="Date & time" prop="datetime" [resizeable]="false" ngbTooltip="CreatedDate&Time">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      {{value  | date: 'medium'}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Status" prop="status" [resizeable]="false" ngbTooltip="ModifiedDate&Time">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      {{value}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Action" prop="_id" [resizeable]="false">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row" >
                      <button class="btn btn-link mr-1 mb-1 cursorcls" (click)="openeditmodel(editnewscontent, row)"  ngbTooltip="Edit">
                        <i class="fa fa-eye" style="color:blue"></i>
                      </button>
                    </ng-template>
                  </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </div>
          </div>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>

<!--Add popup model-->
<ng-template #addnewscontent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Add Token</h6>
    <button type="button" class="close" aria-label="Close" id="shortcut_close" (click)="closeAddToken();d('Cross click')" ngbTooltip="Close">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="onsubmit(add_news)" #add_news="ngForm" novalidate #form>
    <div class="modal-body">
      <!-- <div class="row"> -->
        <div class="col-lg-12">
          <div class="form-group row">
            <label for="example-text-input" class="col-4 col-form-label"><b>Base coin</b></label>
            <div class="col-8">
              <select class="form-control" name="base_coin" [(ngModel)]="ban.base_coin" #base_coin="ngModel" required>
                <option value="ETH">ETH</option>
                <option value="EOS">EOS</option>
              </select>
            </div>
          </div>          
        </div>      
        <div class="col-lg-12">
          <div class="form-group row">
            <label for="example-text-input" class="col-4 col-form-label"><b>Token name</b></label>
            <div class="col-8">
              <input type="text" name="token_name" placeholder="Token name" class="form-control" [(ngModel)]="ban.token_name" #token_name="ngModel" [class.form-control-danger]="token_name.invalid && token_name.touched" required >

              <span class="errr" *ngIf="token_name.invalid && token_name.touched && token_name.errors?.required">Token name is required</span>
                    
            </div>
          </div>          
        </div>        
        <div class="col-lg-12">
        <div class="form-group row">
            <label for="example-text-input" class="col-4 col-form-label"><b>Token Symbol</b></label>
            <div class="col-8">
              <input type="text" name="token_symbol" placeholder="Token Symbol" class="form-control" [(ngModel)]="ban.token_symbol" #token_symbol="ngModel" [class.form-control-danger]="token_symbol.invalid && token_symbol.touched" required >

              <span class="errr" *ngIf="token_symbol.invalid && token_symbol.touched && token_symbol.errors?.required">Token Symbol is required</span>
                    
            </div>
          </div>          
        </div>        
      <!-- </div> -->
      <!-- <div class="row"> -->
        <div class="col-lg-12">
          <div class="form-group row">
            <label for="example-text-input" class="col-4 col-form-label"><b>Decimal</b></label>
            <div class="col-8">
              <input type="text" name="decimal" placeholder="Decimal" class="form-control" [(ngModel)]="ban.decimal" #decimal="ngModel" [class.form-control-danger]="decimal.invalid && decimal.touched" onkeypress="return (event.charCode == 8 || event.charCode == 46) ? null : event.charCode >= 48 && event.charCode <= 57"  required>

              <span class="errr" *ngIf="decimal.invalid && decimal.touched && decimal.errors?.required">Decimal is required</span>
                    
            </div>
          </div>          
        </div>
        <div class="col-lg-12">
          <div class="form-group row">
            <label for="example-text-input" class="col-4 col-form-label"><b>Minimum withdraw amount</b></label>
            <div class="col-8">
              <input type="number" onpaste="return false" name="minwithdraw" min="0" placeholder="Minimum withdraw amount" class="form-control" [(ngModel)]="ban.minwithdraw" #minwithdraw="ngModel" [class.form-control-danger]="minwithdraw.invalid && minwithdraw.touched" onkeypress="return (event.charCode == 8 || event.charCode == 46) ? null : event.charCode >= 48 && event.charCode <= 57"  required>

              <span class="errr" *ngIf="minwithdraw.invalid && minwithdraw.touched && minwithdraw.errors?.required">Minimum withdraw amount is required</span>
                    
            </div>
          </div>          
        </div>
        <div class="col-lg-12">
          <div class="form-group row">
            <label for="example-text-input" class="col-4 col-form-label"><b>Maximum withdraw amount</b></label>
            <div class="col-8">
              <input type="number" name="maxwithdraw" min="0" placeholder="Maximum withdraw amount" class="form-control" [(ngModel)]="ban.maxwithdraw" onpaste="return false" #maxwithdraw="ngModel" [class.form-control-danger]="maxwithdraw.invalid && maxwithdraw.touched" onkeypress="return (event.charCode == 8 || event.charCode == 46) ? null : event.charCode >= 48 && event.charCode <= 57"  required>

              <span class="errr" *ngIf="maxwithdraw.invalid && maxwithdraw.touched && maxwithdraw.errors?.required">Maximum withdraw amount is required</span>
                    
            </div>
          </div>          
        </div>
        <div class="col-lg-12">
          <div class="form-group row">
            <label for="example-text-input" class="col-4 col-form-label"><b>Withdraw fee</b></label>
            <div class="col-8">
              <input type="number" name="withdrawfee" min="0" placeholder="Withdraw fee" class="form-control" [(ngModel)]="ban.withdrawfee" onpaste="return false" #withdrawfee="ngModel" [class.form-control-danger]="withdrawfee.invalid && withdrawfee.touched" onkeypress="return (event.charCode == 8 || event.charCode == 46) ? null : event.charCode >= 48 && event.charCode <= 57"  required>

              <span class="errr" *ngIf="withdrawfee.invalid && withdrawfee.touched && withdrawfee.errors?.required">Withdraw fee is required</span>
                    
            </div>
          </div>          
        </div>                                
        <div class="col-lg-12">
        <div class="form-group row">
            <label for="example-text-input" class="col-4 col-form-label"><b>Contract address</b></label>
            <div class="col-8">
              <input type="text" name="contract_address" placeholder="Contract address" class="form-control" [(ngModel)]="ban.contract_address" #contract_address="ngModel" [class.form-control-danger]="contract_address.invalid && contract_address.touched" required >

              <span class="errr" *ngIf="contract_address.invalid && contract_address.touched && contract_address.errors?.required">Contract address is required</span>
                    
            </div>
          </div>          
        </div>        
      <!-- </div> -->
      <!-- <div class="row"> -->
        <div class="col-lg-12">
          <div class="form-group row">
            <label for="example-text-input" class="col-4 col-form-label"><b>Token Image</b></label>
            <div class="col-8">
              <div class="row">
                <div class="col-6">
                  <input type="file" name="new_Attachment" [(ngModel)]= "ban.new_Attachment" accept="image/*" class="custom-file-input" (change)="fileChangeEvents($event)"  id="customFile">
                </div>
                <div class="col-6"  *ngIf='img_selected' style="min-height: 120px;">
                  <div class="custom-file">
                    <img style="height: 110px;width: 200px;" src = "{{urls}}" style="height: 100px;width: 100px;">
                  </div>
                </div>
              </div>
            </div>
          </div>        
        </div>        
        <div class="col-lg-12">
          <div class="form-group row">
            <label for="example-text-input" class="col-4 col-form-label"><b>Pair coin</b></label>
            <div class="col-8">
              <div class="col-12">
                <input type="checkbox" name="paring" (click)="checkbox(ban.base_coin)" id='{{ban.base_coin}}' value="{{ban.base_coin}}">    
                <label> /{{ban.base_coin}}</label>
              </div>
              <div class="col-12">
                <input type="checkbox" name="paring" (click)="checkbox('BTC')" id='BTC' value="BTC">    
                <label> /BTC</label>
              </div>
            </div>
          </div>          
        </div>        
      <!-- </div>             -->
    </div>
    <div class="modal-footer">
      <button type="submit" *ngIf='add_news.valid' style="cursor: pointer;background-color:#30CE6A;" class="btn btn-info cursorcls">Submit</button>
      <button type="submit" style="cursor: pointer;background-color:#30CE6A;" *ngIf='!add_news.valid' class="btn btn-info cursorcls" disabled="">Submit</button>
      <button type="button"  style="cursor: pointer;
        background-color:#30CE6A;" class="btn btn-secondary cursorcls" (click)="cancelemailtemp();c('Close click')">Close</button>
    </div>
  </form>
</ng-template>


<ng-template #editnewscontent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Edit the title</h6>
    <button type="button" class="close" aria-label="Close"
      (click)="cancelemailtemp();d('Cross click')" ngbTooltip="Close">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label"> <b>Token logo : </b></label>
      <div class="col-10" style="min-height: 120px;">
        <div class="custom-file">
          <img style="height: 110px;width: 200px;" src = "{{editbanners.logo}}" style="height: 100px;width: 100px;">
        </div>
      </div>
    </div>  
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label"> <b>Token Symbol : </b></label>
      <label for="example-text-input" class="col-10 col-form-label"> {{editbanners.symbol}}</label>
    </div>
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label"> <b>Token Name : </b></label>
      <label for="example-text-input" class="col-10 col-form-label"> {{editbanners.name}}</label>
    </div> 
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label"> <b>Decimal : </b></label>
      <label for="example-text-input" class="col-10 col-form-label"> {{editbanners.decimal | number:'.8'}}</label>
    </div>  
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label"> <b>Contract address : </b></label>
      <label for="example-text-input" class="col-10 col-form-label"> {{editbanners.conaddress}}</label>
    </div> 
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label"> <b>Pairs : </b></label>
      <label for="example-text-input" class="col-10 col-form-label"> {{editbanners.pairlist}}</label>
    </div>      
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label"> <b>Date & time : </b></label>
      <label for="example-text-input" class="col-10 col-form-label"> {{editbanners.datetime | date: 'medium'}}</label>
    </div>           
  </div>
</ng-template>

<!-- logo: "https://res.cloudinary.com/dubx4mpgn/image/upload/v1555485074/pwojg4qcwqyzb0ov06t2.png" -->
