<div class="card w-100 border-0" *ngIf="Market_chart.length > 0">
                 <div class="card-body px-0 markettab">
                  <h5 class="markettabheader">Market</h5>
                  <span class="pull-right">
                  <select class="form-control" name="currencies" [(ngModel)]="currencies" (change)="get_chartdata($event.target.value)">
                  <option *ngFor="let currency of cryptoData" > {{currency.currencySymbol}}</option>
                  </select>
                  </span>
                  
           <canvas baseChart     style="width: 500px;
    height: 407px"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                ></canvas>
                 </div>
              </div>
           