<app-header></app-header>
<div class="static-content-section">
  <div class="static-content"> 
    <div class="terms_sec1">
      <h1>FAQ</h1>
       <div class="container-fluid">
        <div class="col-md-12">
               <div class="faq_wrapper" *ngIf="faqContent?.length>0">
                   <!-- <div class="cust_accor" *ngFor="let faq of faqContent">
                   	<accordion [isAnimated]="true">
					  <accordion-group heading="{{faq.question	}}">
					    <div [innerHtml]="faq.answer"></div>
					  </accordion-group>
                         </accordion>
                    </div> -->
                    <div *ngFor="let faq of faqContent;let i = index">
                    <div  class="cust_accor{{i%4}}" >                  <p class="accordion" [ngClass]="{'active': activeClass[i]}" (click)="headerClick(faq, i)"> <span>{{faq.question}}</span></p>
							<div class="panel" #myDiv [ngClass]="{'animate_height': activeClass[i]}">
                                <div class="media">
                                  <div class="mt-4 faq_img">
									<img src="assets/images/q.png" class="">
								  </div>
  								<div class="media-body faq_ans">
   									<div [innerHtml]="faq.answer"></div>
  								</div>
							</div>
						</div>                                
                     </div> 
                     </div> 
                </div>
            </div>
          </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
<script src="js/viewportchecker.js"></script> 
<script src="js/script.js"></script> 
<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery('.post').addClass("hidden").viewportChecker({
	    classToAdd: 'visible animated fadeInDown', // Class to add to the elements when they are visible
	    offset: 100    
	   });   
	   
	jQuery('.post-bounce').addClass("hidden").viewportChecker({
	    classToAdd: 'visible animated bounceInUp', // Class to add to the elements when they are visible
	    offset: 100    
	   }); 
	   
	  jQuery('.post-flip').addClass("hidden").viewportChecker({
		classToAdd: 'visible animated flipInX', // Class to add to the elements when they are visible
		offset: 100    
	   }); 
	   
	jQuery('.post-slideUp').addClass("hidden").viewportChecker({
	    classToAdd: 'visible animated slideInUp', // Class to add to the elements when they are visible
	    offset: 100    
	   });  
});            
</script> 
<!--Marquee script--> 
