<div class="top-header d-flex justify-content-between">
	<div class="topheader-icon-cnt"><img src="assets/images/back.png" (click)="apiService.historyBack()" class="img-fluid"></div>
	<h3 class="header-heading mx-auto">About</h3>
	<div></div>
</div>
<div class="cms-list-cnt">
	<h3 class="cms-list-heading">Cryptocurrency</h3>
	<ul>
		<li><a routerLink="/aboutus">About us</a></li>
		<li><a routerLink="/securitystrategy">Security Startegy</a></li>
		<li><a routerLink="/terms">Terms Of Use</a></li>
		<li><a routerLink="/privacy">Privacy Policy</a></li>
		<li><a routerLink="/riskremainder">Risk reminder</a></li>
	</ul>
	<h3 class="cms-list-heading">BDAM Coin</h3>
	<ul>
		<li><a routerLink="/fees">Fees</a></li>
	</ul>
	<h3 class="cms-list-heading">Support</h3>
	<ul>
		<li><a routerLink="/announcement">Announcements</a></li>
		<li><a routerLink="/news">News</a></li>
		<li><a routerLink="/customer">Customer & Business</a></li>
		<li><a routerLink="/knowledge">Knowledge Business</a></li>
		<li><a routerLink="/contact">Contact Us</a></li>
	</ul>
</div>