<app-header></app-header>
<div class="static-content-section">
  <div class="static-content"> 
    <!-- Banner Under Content Ends Here --> 
    <!-- Recommend Section Starts Here -->
    <div class="terms_sec1">
      <h1>{{securityHeading}}</h1>
       <div class="container-fluid">
        <div class="col-md-12">
             
               <div class="terms_sec ">

                <div [innerHtml]="securityContent"></div>
            </div>
          </div>
    </div>

    
  </div>
</div>


<!-- Footer -->
<app-footer></app-footer>

