<app-header></app-header>
<div class="container-fluid login_signup">
  <div class="row">
    <div class="col-xs-12 col-sm-6 login_l_section  d-flex align-items-center">
      <div style="width: 100%;">
        <ul class="nav nav-tabs">
          <li  *ngIf="!resetpass">Forgot password</li>
          <li  *ngIf="resetpass">Reset password</li>
        </ul>
        <div class="clearfix"></div>
        
        <div class="tab-content" *ngIf="!resetpass">
          <form #forgetForm="ngForm" (ngSubmit)="forgetForm.form.valid && forgetSubmit(forgetForm)" novalidate>
          <div id="menu1" class="tab-pane fade in active show">
            <p>User email</p>
            <p>
              <input  type="text"  autocomplete="off"  [(ngModel)]="forgetinput.email" #email="ngModel" name="email"  required   pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" placeholder="example@gmail.com" class="login_field" >
            </p>
            <p class="text-danger" *ngIf="(email.invalid && forgetForm.submitted) || email.touched">
                <span *ngIf="email.errors?.required">Email is required</span>
                <span *ngIf="email.errors?.pattern">Invalid email</span>
              </p>
            
            <p class="login_btn lb2">
              <!-- <button type="submit"  class="btn btn-primary" *ngIf="!forgetsubmitted">Submit</button> 
        <span class="btn btn-primary"  *ngIf="forgetsubmitted">
        Processing </span>   -->

        <button type="submit"  class="btn btn-primary btn-submit-login" >Submit</button> 
        
            </p>

              <div class="row forget_sec">
            <div class="col-xs-12 col-sm-12">If you've applied.&nbsp;<a routerLink="/login" >Click here to login</a></div>
            
          </div>


          </div>
          </form>
        </div>


         <div class="tab-content" *ngIf="resetpass">
        
          <form #resetForm="ngForm" (ngSubmit)="resetForm.form.valid && resetSubmit(resetForm)" novalidate>
          <div id="menu1" class="tab-pane fade in active show">
           <p>New password</p>
            <p class="passw">

          
              <input type="password" placeholder="******" onpaste="return false" autocomplete="off" [(ngModel)]="resetinput.new_pass" id="new_pass" #new_pass="ngModel" name="new_pass" required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-])(?!.*\s).{8,}$" class="login_field" >
              <img (click)="change_passtype('new_pass')" alt="dfasf" src="{{pass_icon}}" >

              </p>

              <p class="text-danger" *ngIf="(new_pass.invalid && resetForm.submitted) || new_pass.touched">
                <span *ngIf="new_pass.errors?.required">Password is required</span>
                <span *ngIf="new_pass.errors?.pattern">Password
                                        should be 8 character ,atleast 1 Upper case,1 Lower Case 1 Number and 1 Special
                                        character.Space are not allowed</span>
              </p>

              <p>Confirm password</p>
            <p class="passw">
              <input type="password" placeholder="******" onpaste="return false" autocomplete="off" [(ngModel)]="resetinput.c_pass" id="c_pass" #c_pass="ngModel" name="c_pass" required pattern="{{new_pass.value}}" class="login_field" >
              <img  (click)="change_passtype('c_pass')" alt="dfasf" src="{{change_icon}}" >

              </p>
              <p class="text-danger" *ngIf="(c_pass.invalid && resetForm.submitted) || c_pass.touched">
                <span *ngIf="c_pass.errors?.required">Confirm password is required</span>
                <span *ngIf="c_pass.errors?.pattern">Password missmatch</span>
              </p>
            
            <p class="login_btn lb2">
              <!-- <button type="submit"  class="btn btn-primary" *ngIf="!forgetsubmitted">Submit</button> 
        <span class="btn btn-primary"  *ngIf="forgetsubmitted">
        Processing </span> --> 

            <button type="submit"  class="btn btn-primary btn-submit-login" >Submit</button> 
        
            </p>

             


          </div>
          </form>
        </div></div>
      </div>
    <div class="col-xs-12 col-sm-6 login_r_section  d-flex align-items-center">
      <div class="login_r_section_inn">
        <div>
        <p><a href="#"><img src="assets/images/logo.png" ></a></p>
        <h3>Contact us</h3>
        <div class="row">
          <div class="col-xs-12 col-sm-6"><a href="#">Customer Service Tel</a></div>
          <div class="col-xs-12 col-sm-6"><a href="#">Business Development</a></div>
          <div class="col-xs-12 col-sm-6"><a href="#">+54559596566</a></div>
          <div class="col-xs-12 col-sm-6"><a href="#">bdambusiness@ytl.com</a></div>
          <div class="col-xs-12 col-sm-6 log_r_t">Timings</div>
          <div class="col-xs-12 col-sm-6 log_r_t"><a href="#">Developer support</a></div>
          <div class="col-xs-12 col-sm-6">Mon - Fri GMT +5.30</div>
          <div class="col-xs-12 col-sm-6"><a href="#">bdambusiness@ytl.com</a></div>
          <div class="col-xs-12 col-sm-12"><div class="line_1"></div></div>
          <div class="col-xs-12 col-sm-5 tc_c"><a routerLink="/terms" target="_blank">Terms of service</a></div>
          <div class="col-xs-12 col-sm-4 tc_c"><a routerLink="/faq" target="_blank">FAQ's</a></div>
          <div class="col-xs-12 col-sm-12">
            <ul class="footer-social-col foot_icon">
              <li><a href="" class="footer-links"><i class="fa fa-facebook"></i></a></li>
              <li><a href="" class="footer-links"><i class="fa fa-twitter"></i></a></li>
              <li><a href="" class="footer-links"><i class="fa fa-youtube"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>