 
      <div class="left_bg_green mb-5 w-100">
        <ul class="list-group list-group-transparent py-4">
          
  <li class="list-group-item my-3 d-flex align-items-center justify-content-start" routerLink="/dashboard" [routerLinkActive]="['active']"> <img src="assets/images/dashboard-icon.png" >Dashboard</li>
  <li class="list-group-item my-3 d-flex align-items-center justify-content-start" routerLink="/profile" [routerLinkActive]="['active']"><img src="assets/images/crypto_wallet.png">Profile Settings</li>
  <li class="list-group-item my-3 d-flex align-items-center justify-content-start" routerLink="/tfa" [routerLinkActive]="['active']"><img src="assets/images/crypto_wallet.png">Two Factor Verification</li>
  <li class="list-group-item my-3 d-flex align-items-center justify-content-start" routerLink="/deposit" [routerLinkActive]="['active']"><img src="assets/images/crypto_wallet.png">Deposit</li>
   <li class="list-group-item my-3 d-flex align-items-center justify-content-start" routerLink="/withdraw" [routerLinkActive]="['active']"> <img src="assets/images/crypto_wallet.png">Withdraw</li>
   <li class="list-group-item my-3 d-flex align-items-center justify-content-start" routerLink="/exchange" [routerLinkActive]="['active']"><img src="assets/images/blockchain.png" > Exchange</li>
   <li class="list-group-item my-3 d-flex align-items-center justify-content-start" routerLink="/bankdetail" [routerLinkActive]="['active']"><img src="assets/images/blockchain.png" > Bank Details </li>
   <li class="list-group-item my-3 d-flex align-items-center justify-content-start" routerLink="/creditcard" [routerLinkActive]="['active']"><img src="assets/images/blockchain.png" > Credit Card Details </li>
    <li class="list-group-item my-3 d-flex align-items-center justify-content-start" routerLink="/balance" [routerLinkActive]="['active']"><img src="assets/images/balance.png" >Balance</li>
</ul>
</div>
