<div class="row">
  <div class="col-md-24 col-lg-12 banner_manage">
    <nb-card size="big">
      <nb-tabset>
        <!--     <nb-tab-heading>Banner Management of Home page</nb-tab-heading>
          -->
        <nb-tab tabTitle="Withdraw">
          <div class="row">
            <div class="col-md-12">
              <div class="tabcntcls" style=" -webkit-transition: all 1s ease;transition: all 1s ease;padding: 25px;">
                <div class="row ">
                  <div class="col-md-7" style="display: inline-flex;padding-left: 0px;">
                    <span style="line-height: 58px;margin-top:-11px;">Display : </span>
                    <select (change)="changeRowLimits_banner($event)" style="width: 8%;background: transparent;padding:2px;height: 30px;margin-left: 5px;margin-top:3px;">
                    <option *ngFor="let limit of rowLimits_banner" [value]="limit.value">{{limit.key}}</option>
                    </select>
                    <div class="input-group-btn" style="margin-left: 10px;">
                      <button class="btn btn-primary" style="cursor:pointer;background-color:#30CE6A;padding:5px;height:34px;" type="submit"  (click)="resetbannerlist()">
                      <i class="fas fa-sync" style="background-color:#30CE6A;color:white;"></i>                 </button>
                    </div>
                  </div>
                  <div class="col-md-4" style="display: inline-flex;position: relative;left: 23px;">
                    <div class="input-group">
                      <input type="text" [(ngModel)]="defsearch_banner" class="form-control" placeholder="Search" id="txtSearch">
                      <div class="input-group-btn">
                        <button class="btn btn-primary" style="cursor:pointer;background-color:#30CE6A;padding:18px;height:34px;" type="submit" (click)="updateFilter_banner()">
                        <span class="fa fa-search"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-1">
                    <div class="add_addre">
                      <button style="cursor:pointer;border-color:#30CE6A;background-color: white;color:#30CE6A;margin-top:20;"class="btn btn-icon-icon btn-info mb-1 mr-1 cursorcls" (click)="opennewsmodel(download_content)" ngbTooltip="Download"><span class="fa fa-download"></span>
                      </button>
                    </div>
                  </div>                       
<!--                   <div class="col-md-1">
                    <div class="add_addre">
                      <button style="cursor:pointer;border-color:#30CE6A;background-color: white;color:#30CE6A" class="btn btn-icon-icon btn-info mb-1 mr-1 cursorcls" (click)="addbannerClick();openbannermodel(addbannercontent)" ngbTooltip="Add banner"><span class="fa fa-plus"></span>
                      </button>
                    </div>
                  </div> -->
                </div>
                <div class="table-responsive tab_top">
                  <ngx-datatable #bannertable class="bootstrap table table-bordered table-striped mb-0 material banner_management"
                  [columnMode]="'force'"
                  [headerHeight]="50"
                  [footerHeight]="10"
                  [rowHeight]="'auto'" [(limit)]="limit_banner" [rows]='bannerblocktemp' [externalPaging]="true"
                  [count]="page_banner.totalElements"
                  [offset]="page_banner.pageNumber"
                  [limit]="page_banner.size"
                  (page)='setPage_banner($event)' [externalSorting]="true" (sort)="onSort_banner($event)" [loadingIndicator]="loading_banner">
                  <ngx-datatable-column name="S.No" [resizeable]="false" style="font:bold;">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                      {{(page_banner.pageNumber*page.size)+(rowIndex + 1)}}
                    </ng-template>
                  </ngx-datatable-column>
                  <!-- <ngx-datatable-column name="Date & time" prop="created_date"  [resizeable]="false">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      
                      <i class="fa fa-calendar" aria-hidden="true" title="{{value | date: 'medium'}}"></i>
                    </ng-template>
                  </ngx-datatable-column> -->

                  <ngx-datatable-column name="Username" prop="username"  [resizeable]="false">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      {{value }}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Email" prop="usermail"  [resizeable]="false">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      {{value }}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Currency" prop="currencySymbol"  [resizeable]="false">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      {{value}}
                    </ng-template>
                  </ngx-datatable-column>


                  <ngx-datatable-column name="Currency" prop="withamount"  [resizeable]="false">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row" >
                      <span *ngIf="row.currencytype=='crypto'" >{{row.withamount | number:'.8' }}</span>
                      <span *ngIf="row.currencytype=='fiat'" >{{row.withamount | number:'.2' }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Created Date" prop="created_date"  [resizeable]="false">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row" >
                      {{row.created_date | date: 'medium'}}
                    </ng-template>
                  </ngx-datatable-column>

                  



                  <ngx-datatable-column name="Status" prop="admin_status"  [resizeable]="false">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span *ngIf="value=='0'" >Pending</span>
                      <span *ngIf="value=='1'" >Completed</span>
                      <span *ngIf="value=='2'" >Cancelled</span>
                    </ng-template>
                  </ngx-datatable-column>                  
                  <ngx-datatable-column name="Action" prop="_id"  [resizeable]="false">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row" >
                      <!-- <button class="btn btn-link mr-1 mb-1 cursorcls" (click)="openeditmodel(editcurrency, row)"  ngbTooltip="Edit">
                        <i class="fa fa-eye" style="color:blue"></i>
                      </button> -->


                       <button *ngIf="row.admin_status=='1' || row.admin_status=='2'" class="btn btn-link mr-1 mb-1 cursorcls" (click)="openeditmodel(editcurrency, row)"  ngbTooltip="View">
                        <i class="fa fa-eye" style="color:blue"></i>
                      </button>

                      <button *ngIf="row.admin_status=='0' " class="btn btn-link mr-1 mb-1 cursorcls" (click)="openeditmodel(approvecurrency, row)"  ngbTooltip="Approve now">
                        <i class="fa fa-check" style="color:green"></i>
                      </button>

                      <button *ngIf="row.admin_status=='0'" class="btn btn-link mr-1 mb-1 cursorcls" (click)="openeditmodel(rejectcurrency, row)"  ngbTooltip="Reject now">
                        <i class="fa fa-times" style="color:red"></i>
                      </button>


                <!--       <i class="fa fa-calendar" style="color:#cd7931" aria-hidden="true" title="{{row.created_date | date: 'medium'}}"></i> -->




                    </ng-template>
                  </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </div>
          </div>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>

<ng-template #download_content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Download options</h6>
  </div>
  <div class="modal-body" id="actiondialog">
    <div class="row">
      <div class="form-group col-lg-12">
        <label class="col-lg-12 cursor" (click)="download_csv()" > 1) Download as CSV </label>
      </div><br>
      <div class="form-group col-lg-12">
        <label class="col-lg-12 cursor" (click)="download_excel()" > 2) Download as EXCEL </label>
      </div><br>
      <!-- <div class="form-group col-lg-12">
        <label class="col-lg-12 cursor" (click)="download_pdf()" > 3) Download as PDF </label>
      </div> -->
    </div>
  </div>
</ng-template>

<!--Edit popup model-->
<ng-template #editcurrency let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Withdraw details</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" id="edit_cls" ngbTooltip="Close">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body">
      
      
      <table>
        <tr>
          <th>User name</th>
          <td>{{editbanners.username}}
          </td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{editbanners.usermail}}
          </td>
        </tr>
        <tr>
          <th>Requested amount</th>
          <td>{{editbanners.withamount | number:'.8'}}
          </td>
        </tr>

        <tr>
          <th>Fees</th>
          <td>{{editbanners.fees | number:'.8'}}
          </td>
        </tr>


        <tr>
          <th>Received Amount</th>
          <td>{{editbanners.receiveamount | number:'.8'}}
          </td>
        </tr>

        <tr>
          <th>Currency</th>
          <td>{{editbanners.currencySymbol}}
          </td>
        </tr>
        
        <tr>
          <th>Requested on</th>
          <td>{{editbanners.created_date | date: 'medium'}}</td>
        </tr>

        <tr *ngIf="editbanners.transaction_id" >
          <th>Transaction ID</th>
          <td>{{editbanners.transaction_id}}</td>
        </tr>

        
        <tr *ngIf="editbanners.admin_status=='1'">
          <th>Status</th><td>Completed</td>
          <th>Completed on</th><td>{{editbanners.status_at | date: 'medium'}}</td>
        </tr>
        <tr *ngIf="editbanners.admin_status=='2'">
          <th>Cancelled reason</th><td>{{editbanners.reject_reason}}</td>
          
        </tr>
        <tr *ngIf="editbanners.admin_status=='2'">
          <th>Status</th><td>Cancelled</td>
          <th>Cancelled on</th>{{editbanners.status_at | date: 'medium'}}<td></td>
        </tr>

        
      </table>  

      <table *ngIf="editbanners.currencytype=='fiat'">
        <tr> <th>Bank details</th></tr>
        <tr><th>Bank name</th><td>{{bankdetails.bank}}</td></tr>
        <tr><th>Account name</th><td>{{bankdetails.accountname}}</td></tr>
        <tr><th>Account number</th><td>{{bankdetails.accountnumber}}</td></tr>
        <tr><th>IFSC ccode</th><td>{{bankdetails.ifsccode}}</td></tr>
        <tr><th>branch</th><td>{{bankdetails.branch}}</td></tr>
        <tr><th>country</th><td>{{bankdetails.country}}</td></tr>
      </table>



    </div>
    <div class="modal-footer">
        <button type="button"  style="cursor: pointer;
        background-color:#d9dce0;" class="btn btn-secondary cursorcls" (click)="c('Close click')" >Close</button>
    </div>
</ng-template>



<ng-template #approvecurrency let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Withdarw details</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" id="edit_cls" ngbTooltip="Close">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #currency_approve="ngForm" (ngSubmit)="approveSubmit(currency_approve)" novalidate>
    <div class="modal-body">
      <table>
       <tr>
          <th>User name</th>
          <td>{{editbanners.username}}
          </td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{editbanners.usermail}}
          </td>
        </tr>
        <tr>
          <th>Requested amount</th>
          <td>{{editbanners.withamount | number:'.8'}}
          </td>
        </tr>

        <tr>
          <th>Fees</th>
          <td>{{editbanners.fees | number:'.8'}}
          </td>
        </tr>

        <tr>
          <th>Currency</th>
          <td>{{editbanners.currencySymbol}}
          </td>
        </tr>
        
        <tr>
          <th>Requested on</th>
          <td>{{editbanners.created_date | date: 'medium'}}</td>
        </tr>

      </table>

      <table *ngIf="editbanners.currencytype=='fiat'">
        <tr> <th>Bank details</th></tr>
        <tr><th>Bank name</th><td>{{bankdetails.bank}}</td></tr>
        <tr><th>Account name</th><td>{{bankdetails.accountname}}</td></tr>
        <tr><th>Account number</th><td>{{bankdetails.accountnumber}}</td></tr>
        <tr><th>IFSC ccode</th><td>{{bankdetails.ifsccode}}</td></tr>
        <tr><th>branch</th><td>{{bankdetails.branch}}</td></tr>
        <tr><th>country</th><td>{{bankdetails.country}}</td></tr>
      </table>
      
                               
    </div>
    <div class="modal-footer" >
        <button type="submit" *ngIf="!status_submitted" style="cursor: pointer;
        ;" class="btn btn-success cursorcls" >Approve now</button>
        <button type="submit" *ngIf="status_submitted"  style="cursor: pointer;
        ;" class="btn btn-success cursorcls" >Processing</button>
        </div>
    </form>
    
</ng-template>




<ng-template #rejectcurrency let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Withdarw details</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" id="edit_cls" ngbTooltip="Close">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #currency_reject="ngForm" (ngSubmit)="currency_reject.form.valid && rejectSubmit(currency_reject)" novalidate>
    <div class="modal-body">
      <table>
        <tr>
          <th>User name</th>
          <td>{{editbanners.username}}
          </td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{editbanners.usermail}}
          </td>
        </tr>
        <tr>
          <th>Requested amount</th>
          <td>{{editbanners.withamount | number:'.8'}}
          </td>
        </tr>

        <tr>
          <th>Fees</th>
          <td>{{editbanners.fees | number:'.8'}}
          </td>
        </tr>

        <tr>
          <th>Currency</th>
          <td>{{editbanners.currencySymbol}}
          </td>
        </tr>
        
        <tr>
          <th>Requested on</th>
          <td>{{editbanners.created_date | date: 'medium'}}</td>
        </tr>

      </table>


      <table *ngIf="editbanners.currencytype=='fiat'">
        <tr> <th>Bank details</th></tr>
        <tr><th>Bank name</th><td>{{bankdetails.bank}}</td></tr>
        <tr><th>Account name</th><td>{{bankdetails.accountname}}</td></tr>
        <tr><th>Account number</th><td>{{bankdetails.accountnumber}}</td></tr>
        <tr><th>IFSC ccode</th><td>{{bankdetails.ifsccode}}</td></tr>
        <tr><th>branch</th><td>{{bankdetails.branch}}</td></tr>
        <tr><th>country</th><td>{{bankdetails.country}}</td></tr>
      </table>



      <div class="row" >
        <div class="container">
        <label for="email">Reason:</label>
        <div class="form-group">
        
        <textarea name="reason"  class="form-control" autocomplete="off" onpaste="return false" [(ngModel)]="currencyreject.reason" required="" #reason="ngModel" pattern="[a-zA-Z0-9\s_@.,]+"></textarea>
        <p class="text-danger" *ngIf="(reason.invalid && currency_reject.submitted) || reason.touched">
        <span *ngIf="reason.errors?.required">Reason is required</span>
        <span class="errr" *ngIf="reason.errors?.pattern">Please Enter Valid Value</span>
        <!-- <span *ngIf="amount.errors?.pattern">Invalid email</span> -->
        </p>
        </div>

        
      </div>
      </div>
                               
    </div>
    <div class="modal-footer" >
        <button type="submit"  style="cursor: pointer;
        ;" class="btn btn-danger cursorcls" >Cancel Now</button>
        </div>
    </form>
    
</ng-template>

