<nav>
	<div class="page-tab-footer d-flex justify-content-between">
		<div class="page-tab d-flex justify-content-center align-items-center">
			<a routerLink="/markets" class="">
				<img src="assets/images/Market.png">
				<span>Market</span>
			</a>
		</div>
		<div class="page-tab d-flex justify-content-center align-items-center" *ngIf="showAssets">
			<a routerLink="/assets" class="">
				<img src="assets/images/Assets.png">
				<span>Assets</span>
			</a>
		</div>
		<div class="page-tab d-flex justify-content-center align-items-center">
			<a routerLink="/quickLinks" class="">
				<img src="assets/images/Quick-Links.png">
				<span>Quick Links</span>
			</a>
		</div>
	</div>
</nav>
<span style="display: none;" class="home-search" data-toggle="modal" data-target="#login1" id="wallet_btn"><img src="assets/images/login-icon.png"></span>

<div class="modal fade login-modal" data-dismiss="modal" id="login1" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      	<!-- <h5 class="modal-title text-center text-light py-3 px-3 " id="exampleModalCenterTitle"></h5><br> -->
      	<h5 class="modal-title text-center text-light py-3 px-3 " id="exampleModalCenterTitle">Please use your BTC
  		wallet to login</h5>
        <button type="button" class="close pull-right" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="row d-flex justify-content-center">
	      <!-- <div class="walletoption walletoption1" (click)="radioChange('EOS')">
	         <a class="btn">
	          <label class="radiocontainer">
	            <input type="radio"  value="EOS" name="walletSeleted" [(ngModel)]="walletSeleted">
	            <span class="checkmark1"></span>
	          </label>
	         <img  src="assets/images/graph-1.png">
	         <h6 class="text-center">EOS</h6></a>
	      </div>
	      <div class="walletoption walletoption2" (click)="radioChange('ETH')">
	        <a class="btn">
	            <label class="radiocontainer ">
	                <input type="radio" value="ETH"  name="walletSeleted" [(ngModel)]="walletSeleted">
	                <span class="checkmark2"></span>
	              </label>
	        <img  src="assets/images/graph-1.png">
	        <h6 class="text-center">ETH</h6></a>
	      </div> -->
	      <div class="walletoption walletoption3" id="move_next" data-toggle="modal" data-target="#BTC_login" data-dismiss="modal" (click)="radioChange('BTC')">
	        <a class="btn">
	            <label class="radiocontainer">
	                <input type="radio" value="BTC" name="walletSeleted" [(ngModel)]="walletSeleted">
	                <span class="checkmark3"></span>
	              </label>
	        <img  src="assets/images/graph-1.png">
	        <h6 class="text-center">BTC</h6></a>
	      </div>
	    </div>
	    <div class="d-flex justify-content-center">
	      <!-- <button type="button" class="btn btn-secondary"  data-toggle="modal" data-target="#BTC_login" data-dismiss="modal">Next</button> -->
	       <!-- <button type="button" class="btn btn-secondary" *ngIf="walletSeleted === 'BTC'" (click)="staticModal1.hide()" (click)="staticModal4.show()">Next</button> -->
	  	</div>

	      <h5 class="text-center py-2">Reminder</h5>

	      <h6 class="text-center">As an asset-safe decentralized exchange, bdam.com will not
			have private keys of users in any cases</h6>
      </div>
    </div>
  </div>
</div>

<div class="modal fade login-modal" data-dismiss="modal" id="login2" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      	<h5 class="modal-title text-center text-light py-3 px-3 " id="exampleModalCenterTitle">ETH Wallet</h5>
        <button type="button" class="close pull-right" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="row d-flex justify-content-center">
      		<h3 class="message">"Use this feature in desktop,it cannot be used in mobile."</h3>
	    </div>
	    <!-- <div class="d-flex justify-content-center">
	      <button type="button" class="btn btn-secondary" (click)="staticModal2.hide()" (click)="staticModal3.show()">Next</button>
	  	</div> -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade login-modal"  data-dismiss="modal" id="login3" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      	<h5 class="modal-title text-center text-light py-3 px-3 " id="exampleModalCenterTitle">EOS Wallet</h5>
        <button type="button" class="close pull-right" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="row d-flex justify-content-center">
      		<h3 class="message">"Use this feature in desktop,it cannot be used in mobile."</h3>
	    </div>
	  
      </div>
    </div>
  </div>
</div>

<div class="modal fade login-modal" data-dismiss="modal" id="BTC_login" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      	<h5 class="modal-title text-center text-light py-3 px-3 " id="exampleModalCenterTitle">BTC Wallet</h5>
        <button type="button" class="close pull-right" id="cls_btn" aria-label="Close" data-dismiss="modal" (click)="close_model()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="d-flex justify-content-center">
      		<form [formGroup]="loginForm" (ngSubmit)="loginOTP(loginForm.controls)">
      		
      			<div class="form-group" *ngIf="newEmail">
      				<input type="text" class="form-control login" 
      				 formControlName="email" placeholder="Enter Your Email" />
		              <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
		                <div *ngIf="f.email.errors.required">Email is required</div>
		                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
		              </div> -->
      			</div>
      			<div class="form-group form-row" *ngIf="otpstatus == 1">
      				<input type="text" formControlName="otp" placeholder="Enter Your OTP">
      			</div>
      			<div class="d-flex justify-content-center">
			      <button type="submit" class="btn btn-secondary mx-2" *ngIf="otpstatus == 0">Send OTP</button>
			      <!-- <button type="button" class="btn btn-secondary mx-2" *ngIf="otpstatus == 0" (click)="staticModal4.hide()" (click)="staticModal5.show()">New User</button> -->

			      <button type="button" class="btn btn-secondary mx-2" *ngIf="otpstatus == 0" data-toggle="modal" data-target="#BTCreg" data-dismiss="modal">New User</button>


			       <button type="button" class="btn btn-secondary mx-2" *ngIf="otpstatus == 1" (click)="loginsite(loginForm.controls)" >Login</button>
			  	</div>
      		</form>
	    </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade login-modal" id="BTCreg" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
		      <div class="modal-header">
		      	<h5 class="modal-title text-center text-light py-3 px-3 " id="exampleModalCenterTitle">BTC Wallet</h5>
		        <button type="button" class="close pull-right" id="cls_btn" aria-label="Close" data-dismiss="modal">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<div class="row d-flex justify-content-center">
		      		<form [formGroup]="registerForm" (ngSubmit)="onSubmitreg()" >
		      			<div class="form-group form-row">
		      				<input type="text" placeholder="Enter Your Email" formControlName="email" pattern=".+@.+\..+" [ngClass]="{ 'is-invalid': submitted1 && f1.email.errors }" />
					          <div *ngIf="submitted1 && f1.email.errors" class="invalid-feedback">
					            <div *ngIf="f1.email.errors.required">Email is required</div>
					            <div *ngIf="f1.email.errors.email">Email must be a valid email address</div>
					          </div>
		      			</div>
		      			<div class="d-flex justify-content-center mb-3">
					      <button *ngIf='regotp' type="button" class="btn btn-secondary px-5 mx-2" (click)="OTPSend(registerForm.controls)"  >Send OTP</button>
					      <Button *ngIf='regotp1' type="button" class="btn btn-secondary px-5 mx-2" disabled >Sending OTP  <i class="fa fa-cog fa-spin" aria-hidden="true"></i></Button>
					  	</div>
					  	<div class="form-group form-row">
		      				<input type="text" placeholder="Enter Your OTP" formControlName="otp" [ngClass]="{ 'is-invalid': submitted1 && f1.otp.errors }" />
				              <div *ngIf="submitted1 && f1.otp.errors" class="invalid-feedback">
				                <div *ngIf="f1.otp.errors.required">OTP is required</div>
				              </div>
		      			</div>
		      			<div class="d-flex justify-content-center">
					      <button type="submit" class="btn btn-secondary mx-2" [disabled]="!f1.email.valid && !f1.otp.valid" *ngIf='regotp2'>Register</button>
					      <button class="btn btn-secondary mx-2" *ngIf='!regotp2' disabled="">Registering  <i class="fa fa-cog fa-spin" aria-hidden="true"></i></button>
					     
					      <button type="button" class="btn btn-secondary mx-2" data-toggle="modal" data-target="#BTC_login" data-dismiss="modal" *ngIf="regotp2" >Registered User</button>


					  	</div>
		      		</form>
			    </div>
		      </div>
		    </div>
		  </div>
		</div>

