<!-- Footer -->
<div id="footer-wrapper">
  <footer id="footer" class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <p><a class="" href="#" *ngIf="siteLogo"><img [src]="siteLogo"></a></p>
        <p class="worlds">Worlds first hybrid cryptoexchange<br>
          Platform </p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>Cryptocurrency</h4>
        <ul>
          <li><a [routerLinkActive]="['active']" routerLink="/aboutus">About us</a></li>
          <li><a [routerLinkActive]="['active']" routerLink="/security">Security strategy</a></li>
          <li><a [routerLinkActive]="['active']" routerLink="/terms">Terms of use</a></li>
          <li><a [routerLinkActive]="['active']" routerLink="/privacypolicy">Privacy policy</a></li>
          <li><a [routerLinkActive]="['active']" routerLink="/riskremainder">Risk Reminder</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>Support</h4>
        <ul>
          <li><a [routerLinkActive]="['active']" routerLink="/announcement">Announcements</a></li>
          <li><a [routerLinkActive]="['active']" routerLink="/news">News</a></li>
          <li><a [routerLinkActive]="['active']" routerLink="/customerservices">Customer & business</a></li>
          <li><a [routerLinkActive]="['active']" routerLink="/knowledgebase">Knowledge base</a></li>
          <!-- <li><a  [routerLinkActive]="['active']" routerLink="/faq">FAQ</a></li> -->
          <li><a [routerLinkActive]="['active']" routerLink="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>Mobile App</h4>
        <ul>
          <li><a href="#">Download our App</a></li>
        </ul>
      </div>
    </div>
    <div class="row footer2">
      <div class="col-xs-12 col-sm-3 foot2">
        
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>BDAM Coin</h4>
        <ul>
          <li><a [routerLinkActive]="['active']" routerLink="/fees">Fees</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3">
       <!--  <h4>Settings</h4>
        <ul>
          <li><a href="#">Language : English</a></li>
          <li><a href="#">Theme : Dark</a></li>
        </ul> -->
      </div>
      <div class="col-xs-12 col-sm-3 sm">
        <h4>Social Media</h4>
        <ul class="social_media">
          <li><a href="{{webLinks['instagram']}}" target="_blank"><i class="fa fa-fw fa-instagram"></i></a></li>
          <li><a href="{{webLinks['twitter']}}" target="_blank"><i class="fa fa-fw fa-twitter"></i></a></li>
          <li><a href="{{webLinks['youtube']}}" target="_blank"><i class="fa fa-fw fa-youtube"></i></a></li>
          <li><a href="{{webLinks['facebook']}}" target="_blank"><i class="fa fa-fw fa-facebook"></i></a></li>
          <li><a href="{{webLinks['snapchat']}}" target="_blank"><i class="fa fa-snapchat-ghost"></i></a></li>
          <li><a href="{{webLinks['linked_in']}}" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row footer2">
      <div class="col-xs-12 col-sm-12">
        <p class="reserved">{{copyRights}}</p>
      </div>
       
       
       
    </div>
  </footer>
</div>