.cursor:hover{
	cursor: pointer;
	color: blue;
}
.errr{
	color: red
}
.colo
{
	color:black;
}


.coin_req_form {
	width: 100%;
}
.card.deposit_card {
    width:100%;
}
thead tr th{

}

.deposit_card button {
	margin: 0;
	padding: 3px 10px;
}

.button2 {
  background-color: white; 
  color: black; 
}
.button2 a{
	color:#020633;
}
.baltable .table td, .baltable  .table th {
	vertical-align: middle;
	padding: .25rem .55rem;
	
}
.baltable .table{border: 1px #ddd solid;}

.serach_tab {
	float: left !important;
	position: relative;
	margin-left: 20px;
	margin-top: 15px;
}


.alert_dash_head{margin-top: 20px; }

.alert_dash_head h6{ font-size: 18px; color:#222; display: inline-block; }

.alert_dash_head span { font-size: 18px; color:#222; font-weight:bold; }

.serach_tab input {
	width: 200px;
	height:40px;
	border: 1px solid #ddd;
	padding-left: 22px;
	font-size: 14px;
}